body {
  font-family: Arial, sans-serif;
  background-color: #ecf4f4;
  margin: 0;
}

/* 50/50 layout */
.layout {
  display: flex;
  min-height: 100vh;
}

/* LEFT SIDE */
.left-panel {
  width: 70%;
  padding: 50px;
  box-sizing: border-box;
}

h1 {
  color: #347880;
  margin-top: 0;
}

/* RIGHT SIDE */
.right-panel {
  background: linear-gradient(135deg, #eaf7ef 0%, #347880 100%);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Progress circle */
.progress-circle {
  --progress: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(#e09f8c calc(var(--progress) * 1%), #ddd 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index:1;
}

.progress-circle::after {
  content: "";
  position: absolute;
  inset: 18px;
  background: #347880;
  border-radius: 50%;
}

.progress-circle-inner {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #eaf7ef;
  font-weight: bold;
}

#progress-percent {
  font-size: 2rem;
}

.progress-label {
  font-size: 0.9rem;
}

/* Modules */
.module {
  margin: 15px 0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.module-header {
  width: 100%;
  padding: 15px;
  background-color: #ecf4f4;
  border: none;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

.module-content {
  display: none;
  background: white;
  padding: 15px;
}

.start-btn {
  background-color: #347880;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.start-btn:hover {
  background-color: #276749;
}

.check {
  margin-left: 8px;
}